In [1]:
import pandas as pd

In [2]:
file = 'project_data_csvs/bp_apps_clean.csv'

In [3]:
bp_data = pd.read_csv(file)

In [4]:
bp_df = pd.DataFrame(bp_data)

In [5]:
bp_df.head()

,SECTOR,October,November,December,January,February,March,April,May,June,July,August,September,Yearly Total,Fiscal Year
0,Livermore,716,523,514,527,525,588,496,529,449,395,517,426,"6,205",2000
1,Miami,401,342,493,375,562,614,461,613,483,639,543,711,"6,237",2000
2,New Orleans,559,626,333,596,684,"1,000",581,507,375,262,392,563,"6,478",2000
3,Ramey,221,102,115,142,28,71,63,202,124,99,284,280,"1,731",2000
4,Blaine,246,184,177,228,204,226,200,311,229,196,197,183,"2,581",2000

In [6]:
bp_df = bp_df.rename(columns={
    
    'SECTOR': 'Border Location'
    
})

In [7]:
bp_df.head()

,Border Location,October,November,December,January,February,March,April,May,June,July,August,September,Yearly Total,Fiscal Year
0,Livermore,716,523,514,527,525,588,496,529,449,395,517,426,"6,205",2000
1,Miami,401,342,493,375,562,614,461,613,483,639,543,711,"6,237",2000
2,New Orleans,559,626,333,596,684,"1,000",581,507,375,262,392,563,"6,478",2000
3,Ramey,221,102,115,142,28,71,63,202,124,99,284,280,"1,731",2000
4,Blaine,246,184,177,228,204,226,200,311,229,196,197,183,"2,581",2000

In [18]:
bd_location_df = bp_df.groupby('Border Location')['Yearly Total'].sum()

In [19]:
bd_location_df.head()

Border Location
Big Bend\n(formerly Marfa)    13,68912,08711,39210,31910,53010,5367,5205,536...
Blaine                        2,5812,0891,7321,3801,3541,0018117499548436735...
Buffalo                       1,5701,4341,1025646714001,5172,1913,3392,6722,...
Coastal Border                20,65118,15815,01416,33511,15410,33610,52111,6...
Del Rio                       157,178104,87566,98550,14553,79468,50642,63622...
Name: Yearly Total, dtype: object