In [56]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [57]:
file = 'data/bp_apps_clean.csv'

In [58]:
bp_data = pd.read_csv(file)

In [59]:
bp_df = pd.DataFrame(bp_data)

In [69]:
bp_df.head(24)

,Border Location,October,November,December,January,February,March,April,May,June,July,August,September,Yearly Total,Fiscal Year
0,Livermore,716,523,514,527,525,588,496,529,449,395,517,426,6205,2000
1,Miami,401,342,493,375,562,614,461,613,483,639,543,711,6237,2000
2,New Orleans,559,626,333,596,684,1000,581,507,375,262,392,563,6478,2000
3,Ramey,221,102,115,142,28,71,63,202,124,99,284,280,1731,2000
4,Blaine,246,184,177,228,204,226,200,311,229,196,197,183,2581,2000
5,Buffalo,168,106,61,80,65,117,117,110,109,185,219,233,1570,2000
6,Detroit,213,145,191,190,183,227,169,146,138,165,130,160,2057,2000
7,Grand Forks,68,30,20,33,33,71,44,57,57,36,48,65,562,2000
8,Havre,73,82,80,122,78,100,190,246,129,120,178,170,1568,2000
9,Houlton,51,37,32,25,42,25,30,30,25,45,105,42,489,2000
10,Spokane,112,103,65,92,100,95,80,102,118,156,154,147,1324,2000
11,Swanton,153,111,125,97,87,108,132,118,140,370,374,142,1957,2000
12,Big Bend\n(formerly Marfa),891,1111,1192,1093,1675,1597,1272,1154,885,921,998,900,13689,2000
13,Del Rio,8161,6812,5118,20354,24706,24416,18145,13443,7820,9373,10132,8698,157178,2000
14,El Centro,13761,11035,8882,21924,31072,33301,26534,27460,20071,15820,15018,13248,238126,2000
15,El Paso,6386,5203,4651,14914,15049,16018,12883,10645,7637,7533,8106,6671,115696,2000
16,Laredo,6962,6058,4477,13794,14745,15549,11174,9707,6436,6760,6971,6340,108973,2000
17,Rio Grande Valley\n(formerly McAllen),8416,7371,5808,15443,16814,17995,15005,12390,7764,9842,9073,7322,133243,2000
18,San Diego,9046,7620,5978,15363,20204,18279,16751,16615,13186,10630,9356,8653,151681,2000
19,Tucson,32384,25767,30182,70632,73506,76245,65213,62555,44341,46849,47905,40767,616346,2000
20,Yuma,5403,5219,4964,12462,13557,16663,13073,12327,6953,6228,6753,5145,108747,2000
21,Coastal Border,1897,1593,1455,1640,1799,2273,1601,1851,1431,1395,1736,1980,20651,2000
22,Northern Border,1084,798,751,867,792,969,962,1120,945,1273,1405,1142,12108,2000
23,Southwest Border,91410,76196,71252,185979,211328,220063,180050,166296,115093,113956,114312,97744,1643679,2000

In [61]:
bp_df = bp_df.rename(columns={
    
    'SECTOR': 'Border Location'
    
})

In [62]:
bp_df.head()

,Border Location,October,November,December,January,February,March,April,May,June,July,August,September,Yearly Total,Fiscal Year
0,Livermore,716,523,514,527,525,588,496,529,449,395,517,426,6205,2000
1,Miami,401,342,493,375,562,614,461,613,483,639,543,711,6237,2000
2,New Orleans,559,626,333,596,684,1000,581,507,375,262,392,563,6478,2000
3,Ramey,221,102,115,142,28,71,63,202,124,99,284,280,1731,2000
4,Blaine,246,184,177,228,204,226,200,311,229,196,197,183,2581,2000

In [63]:
bd_location_df = bp_df.groupby(['Border Location'])['Yearly Total'].sum()

In [64]:
bd_location_df.head(50)

Border Location
Big Bend\n(formerly Marfa)                 131827
Blaine                                      16768
Buffalo                                     23640
Coastal Border                             170090
Del Rio                                    760772
Detroit                                     23895
El Centro                                 1101756
El Paso                                   1002721
Grand Forks                                 12537
Havre                                       10427
Houlton                                      3111
Laredo                                    1023410
Livermore                                   21316
Livermore*                                      0
Miami                                       81287
New Orleans                                 49612
Northern Border                            122370
Ramey                                       17875
Rio Grande Valley\n(formerly McAllen)     2055582
San Diego                                 1596286
Southwest Border                         13271497
Spokane                                      9200
Swanton                                     22792
Tucson                                    4838750
Yuma                                       760393
Name: Yearly Total, dtype: int64

In [65]:
total_apps = bd_location_df.sum(axis=0)
print(total_apps)

27127914

In [66]:
bp_apps_avg = total_apps / 17
print(bp_apps_avg)

1595759.6470588236

In [75]:
bp_yearly_df = bp_df.groupby(['Fiscal Year'])['Yearly Total'].sum()

In [77]:
bp_yearly_df.head(18)

Fiscal Year
2000    3352876
2001    2532428
2002    1910620
2003    1863114
2004    2320790
2005    2378150
2006    2178184
2007    1753408
2008    1447650
2009    1112082
2010     926764
2011     680504
2012     729536
2013     841578
2014     973302
2015     674234
2016     831632
2017     621062
Name: Yearly Total, dtype: int64